@tailwind base;
@tailwind components;
@tailwind utilities;

.h-66vh {
    height: calc(100vh * 0.66);
}

.max-h-66vh {
    max-height: calc(100vh * 0.66);
}

#root {
    background-color: rgb(243 244 246);
}

@media (min-width: 1280px) {
    #root {
        max-height: 100vh;
        height: 100vh;
    }
}
html {
    --scrollbarBG: #ffffff;
    --thumbBG: #969696;
}

.overflow-auto::-webkit-scrollbar {
    width: 11px;
}
.overflow-auto {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.overflow-auto::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
.overflow-auto::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.label-selected {
    background-color: rgb(148 163 184) !important;
}
